Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonBP/Maps/Hub.umap
Content/Blueprints/NewGameMode.uasset
Config/DefaultInput.ini
Config/DefaultEngine.ini
*.rar
*.uasset
Content/LandscapeAutoMaterial/Textures/Generic/SplatterMask_D.uasset
Content/ThirdPersonBP/Maps/Hub.umap
Content/ThirdPersonBP/Maps/ThirdPersonBP - Raccourci.lnk
